<div class="home">

  <div class="jumbotron">
    <img id="jumbotron_logo" src="/assets/img/startgainesville.png">
  </div>

    <!--div class="row icon-box">
      <div class="col-lg-offset-2 col-sm-2">
        <img src="https://image.flaticon.com/icons/svg/747/747310.svg">
        <h5>Calendar</h5>
      </div>
      <div class="col-lg-offset-1 col-sm-2">
        <img src="https://image.flaticon.com/icons/svg/509/509602.svg">
        <h5>Resources</h5>
      </div>
      <div class="col-lg-offset-1 col-sm-2">
        <img src="https://image.flaticon.com/icons/svg/142/142733.svg">
        <h5>Achievements</h5>
      </div>
    </div-->
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <h1 class="page-header">Make your start... <img src="/assets/img/startgainesville.png" width="220"></h1>
        <p>Far far away, behind the word mountains, 
           far from the countries Vokalia and Consonantia, 
           there live the blind texts. Separated they live 
           in Bookmarksgrove right at the coast of the Semantics, 
           a large language ocean.<p>
      </div>
    </div>

    <div class="row">
      <div class="about col-md-offset-1 col-lg-10">
        <h1 class="page-header">
          Why <img src="/assets/img/startgainesville.png" width="250">? 
          <small>Help build a better community... and world!</small>
        </h1>
      </div>
    </div>
    <div class="row">
      <div>
        <img id="logo" src="https://image.flaticon.com/icons/svg/305/305114.svg">
      </div>
      <div class="features">
        <div class="icon" style="padding-bottom: 50px;">
          <img src="https://image.flaticon.com/icons/svg/748/748591.svg">
          <h3>Educating</h3>
        </div>
        <div class="icon col-md-offset-1" >
          <img src="https://image.flaticon.com/icons/svg/747/747934.svg">
          <h3>Facilitating</h3>
        </div>
        <div class="icon" style="margin-left: 10%;">
          <img src="https://image.flaticon.com/icons/svg/417/417767.svg">
          <h3>Innovating</h3>
        </div>
        <div class="icon col-md-offset-1">
          <img src="https://image.flaticon.com/icons/svg/401/401122.svg">
          <h3>Growing</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h1 class="page-header">What's happening<small></small></h1>
        <h3 align="center">Highlights</h3>
      </div>
    </div>
    <div class="row events">
      <div class="col-md-offset-1 col-md-5">
        <ul class="highlights">
          <li><a>Kickoff meeting</a></li>
          <li><a>Icecream social</a></li>
          <li><a>Entrepreneurship 101: From idea to company</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <span class="btn btn-primary">Check out highlights</span>
      </div>
    </div>
    <div class="row">
      <div id="calendar" class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/assets/html/calendar.html" width="100%" height="500"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h1 class="page-header">
          Join us where the dream starts
          <a class="btn btn-primary">Let's get in touch</a>
        </h1>
      </div>
    </div>
  </div>


      <!--span ><img src="/assets/img/startgainesville.png" width="250"></span>
      <img src="https://image.flaticon.com/icons/svg/87/87421.svg">
      <img src="https://image.flaticon.com/icons/svg/87/87390.svg">
      <img  src="https://image.flaticon.com/icons/svg/87/87399.svg">
      <img  src="https://image.flaticon.com/icons/svg/87/87406.svg">
      <img  src="https://image.flaticon.com/icons/svg/87/87410.svg"-->

  <!--div class="join col-md-offset-1 col-md-10">
    <div class="page-header">
      <h1>Join Us<small style="font-family: 'Lustria', serif; font-weight: 100;"> Where the dream starts</small></h1>
    </div>
    <img id="team" src="http://www.bismigroup.com/Content/Assests/images/about.png">
    <h3 id="banner_slogan">Building the thriving Gianesville economy</p3>
    <span class="btn" id="banner_button" style="color: black;">Let's get in touch</span>
  </div-->


  <footer id="lab_social_icon_footer">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
      <div class="text-center center-block">
        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
    </div>
    <div class="text-center" >
      Copyright &copy; 2018 Start!Gainesville
    </div>
  </footer>

</div>
